<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang= "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <a href={% url "inicio" %}>Inicio</a>
            <a href={% url "termos" %}>Listado Termos</a>
        </nav>
        {% comment %} <h1> Se creo la carga del termo {{termo}} correctamente..</h1> {% endcomment %}
        <h1>Cargar tipo de termo</h1>

        <form action={% url "crear_termo" %} method="POST">
            {% csrf_token %}

            {% comment %} v1 {% endcomment %}
            {% comment %} <p>
                Marca
                <input type="text" name="marca">
            </p>
            <p>
                Capacidad
                <input type="number" name="capacidad">
            </p>
            <p>
                Color
                <input type="text" name="color">
            </p>
            <p>
                Linea
                <input type="text" name="linea">
            </p> {% endcomment %}
            <table>
                {{formulario}}
            </table>

            <input type="submit" value="crear termo">
        </form>

    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>