<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <a href={% url "inicio" %}>Inicio</a>
            <a href={% url "crear_termo" %}>Cargar Termo</a>
            
        </nav>
        <h1>Listado de alumnos </h1>
        <p>
            {{termos}} 
        </p>

        <ul> 
             {% for termo in termos %}
            <li>Marca: {{ termo.marca }}, Capacidad: {{ termo.capacidad }}, Color: {{ termo.color }}, Línea: {{ termo.linea }}</li>
            {% endfor %}
            
            {% comment %} {% for termo in termos %}
                <li style="color: {{ termo.color }}">Marca: {{ termo.marca }}, Capacidad: {{ termo.capacidad }}, Color: {{ termo.color }}, Línea: {{ termo.linea }}</li>
            {% endfor %} {% endcomment %}

        </ul>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>