{% extends "base.html" %}
{% block header %}
<h1>Se ha cerrado sesión correctamente</h1>
{% endblock header %}

{% block content %}
{% if request.user.is_authenticated %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" style="background-color: blue; color: white;">Logout</button>
</form>
{% endif %}
{% endblock content %}

{% comment %} 
{% extends "base.html" %}
{% block header %}
<h1>Se ha cerrado sesión correctamente</h1>
{% endblock header %}

{% block content %}
<button style="background-color: blue; color: white;">Logout</button>
{% endblock content %} {% endcomment %}

{% comment %} {% extends "base.html" %}
{% block header %}
<h1>Se ha cerrado secion correctamente</h1>
{% endblock header %} {% endcomment %}
